/*
 * Common
 */
body {
  color: #333;
  background: #fff;
}
a {
  outline: 0;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #e8878b !important;
}
button,
.btn,
select,
input {
  border-radius: 0 !important;
}
header {
  height: 50px;
}
header .navbar-brand {
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -99999px;
  background-image: url("../img/logo.png");
}
header .navbar {
  border: 0;
}
header .navbar-nav:first-child {
  margin-left: 40%;
}
header .navbar-nav:first-child .active a {
  font-weight: bold;
  color: #000;
  background-color: #f6f6f6;
}
header .navbar-right {
  margin-right: 0px;
}
header .navbar-right .btn {
  padding: 8px 16px;
  margin: 6px;
  color: #000;
}
footer {
  color: #999;
  background-color: #f6f6f6;
  margin-top: 10px;
  padding-bottom: 20px;
}
footer #footer-search {
  padding: 50px 0px;
}
footer a {
  color: #999;
  display: block;
}
footer #site-map {
  color: #333;
  background-color: #fff;
}
footer #site-map a {
  color: #333;
}
footer #contact-us a {
  font-size: 2em;
  margin: 10px;
}
@media (min-width: 768px) {
  footer #footer-search {
    width: 70%;
    margin-left: 15%;
  }
  footer #site-map div {
    height: 200px;
    border-right: 2px solid #f6f6f6;
  }
  footer #site-map div:last-child {
    border-right: none;
  }
}
@media (max-width: 767px) {
  header .navbar-nav:first-child {
    margin: 7.5px -15px;
  }
}
/*
 * Home
 */
#home .container form input[name="search"] {
  width: 85%;
}
#home .container form button[type="submit"] {
  color: #fff;
  background-color: #e8878b;
  border: none;
  padding: 10px 16px;
}
#home .container form button[type="submit"]:hover {
  background-color: #e47277;
}
#home .container-fluid .row:first-child {
  position: relative;
}
#home .container-fluid .row:first-child a {
  width: auto !important;
  position: absolute;
  right: 24px;
  top: 24px;
}
#home .container-fluid .row:first-child a:after {
  content: '\232A';
  margin-left: 5px;
}
#home #banner {
  height: 600px;
  padding: 0px;
  position: relative;
  color: #fff;
}
#home #banner #banner-search {
  position: absolute;
  left: 15%;
  bottom: 35%;
  width: 70%;
}
#home #banner #banner-search form {
  padding: 10px 4px;
  background-color: #000;
  background-color: rgba(0,0,0,0.2);
  border: #000 2px solid;
  border: rgba(0,0,0,0.2) 2px solid;
}
#home #banner #slogon {
  width: 100%;
  position: absolute;
  bottom: 25%;
  text-shadow: 0 0 15px rgba(22,22,22,0.7), 0 -1px 1px rgba(22,22,22,0.4);
}
#home #banner .banner {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}
#home #categories .category-row {
  margin: 4px 0px;
}
#home #categories .category-row > div {
  padding: 5px;
  height: 200px;
}
#home #categories .category-row > div:hover {
  box-shadow: 0 1px 6px rgba(22,22,22,0.15);
  background-color: #f6f6f6;
}
#home #categories .category-row > div a {
  color: #fff;
  background-position: 40% 35%;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
  padding: 150px 10px 10px 10px;
  font-size: 1.4em;
  text-shadow: 0 0 15px rgba(22,22,22,0.7), 0 -1px 1px rgba(22,22,22,0.4);
}
#home #brands .row:last-child ul {
  padding: 15px;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
#home #brands .row:last-child ul li {
  display: inline-block;
  width: 114px;
  height: 114px;
  background-size: cover;
  margin: 5px;
  border: 3px solid #fff;
  box-shadow: 1px 1px 2px 0 #e9e9eb;
}
#home #brands .row:last-child ul li:hover {
  box-shadow: 0 1px 6px rgba(22,22,22,0.15);
  background-color: #f6f6f6;
}
#home #brands .row:last-child ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -99999px;
}
#home #collections .col-sm-12 {
  margin: 5px;
  padding: 0px;
}
#home #collections .block {
  padding: 0px;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}
#home #collections .block > div {
  height: 150px;
  background-position: center;
}
#home #collections .block .type {
  color: #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  text-shadow: 0 0 3px rgba(22,22,22,0.4);
}
#home #collections .block .text {
  padding: 0px 10px;
}
#home #collections .block:hover {
  box-shadow: 0 1px 6px rgba(22,22,22,0.15);
  background-color: #f6f6f6;
}
#home #collections .block:hover .read {
  border: 1px solid #e8878b;
}
#home #collections .block:hover .type {
  color: #e8878b;
}
#home #collections .block.featured {
  color: #fff;
  padding: 10px;
  text-shadow: 0 0 3px rgba(22,22,22,0.4);
}
#home #collections .block.featured .text {
  position: absolute;
  bottom: 5px;
}
#home #collections .block.featured .read {
  padding: 4px 10px;
  margin-left: 15px;
  position: absolute;
  bottom: 20px;
  height: 32px;
}
#home #collections .block.featured .read:after {
  content: '\232A';
  margin-left: 5px;
}
@media (min-width: 768px) {
  footer #site-map div {
    padding: 30px 20px 60px 20px;
  }
  #home .container form input[name="search"] {
    font-size: 18px;
    height: 44px;
  }
  #home .container form button[type="submit"] {
    font-size: 18px;
    line-height: 1.3333333;
  }
}
@media (min-width: 1170px) {
  #home #banner-search input[name="search"] {
    width: 90%;
  }
  #home #banner {
    height: 800px;
  }
}
@media (max-width: 767px) {
  #home .container form input[name="search"] {
    width: 100%;
  }
  #home .container form button[type="submit"] {
    margin-top: 12px;
  }
  #home #banner {
    height: 400px;
  }
  #home #banner h1 {
    font-size: 32px;
  }
  #home #banner .banner {
    height: 400px;
  }
  #home #banner #banner-search {
    top: 20%;
    width: 90%;
    left: 5%;
  }
  #home #banner #banner-search form {
    padding: 20px;
  }
  #home #collections .others {
    padding: 0px;
  }
}
