#blogs {
  margin: 0 0 2rem 0;
  p.blog {
    line-height: 1.6rem;
    a {
      font-size: 1.1rem;
      color: #666 !important;
    }
    a:hover {
      color: #2db7f5 !important;
    }
  }
}

#blog {
  font-size: 1.2em;
}
