highlightColor = #e8878b
bannerFullHeight = 600px
bannerSmallHeight = 400px

/*
 * Common
 */

body
  color: #333333
  background: #fff

a
  outline: 0
  color: black
a:hover
  text-decoration: none
  color: highlightColor !important

button,.btn,select,input
  border-radius: 0 !important

header
  height: 50px
  .navbar-brand
    display: block
    width: 50px
    height: 50px
    text-indent: -99999px
    background-image: url('../img/logo.png')
  .navbar
    border: 0
  .navbar-nav:first-child
    margin-left: 40%
    .active
      a
        font-weight: bold
        color: black
        background-color: #f6f6f6
  // BUG FIX
  .navbar-right
    margin-right: 0px
    .btn
      padding: 8px 16px
      margin: 6px
      color: black

footer
  color: #999
  background-color: #f6f6f6
  #footer-search
    padding: 80px
  a
    color: #999
    display: block
  #site-map
    color: #333
    background-color: white
    a
      color: #333
  #contact-us
    a
      font-size: 2em

@media (min-width: 768px)
  footer
    #footer-search
      width: 70%
      margin-left: 15%

@media (max-width: 767px)
  header
    .navbar-nav:first-child
      margin: 7.5px -15px

/*
 * Home
 */

#home
  .container
    form
      input[name="search"]
        width: 75%
      button[type="submit"]
        color: white
        background-color: highlightColor
        border: none
  .container-fluid
    .row:first-child
      position: relative
      a
        width: auto !important
        position: absolute
        right: 16px
        top: 24px
  #banner
    height: bannerFullHeight
    padding: 0px
    position: relative
    #banner-search
      position: absolute
      left: 25%
      top: 55%
      width: 50%
      color: white
      form
        padding: 20px 0px
        background-color: black
        background-color: rgba(0, 0, 0, 0.4)
    .banner
      height: bannerFullHeight
      background-position: center
      background-size: cover
      position: absolute
      top: 0px
      width: 100%
  #categories
    .row
      margin: 0px
      > div
        padding: 5px
        height: 200px
        a
          color: white
      a
        background-position: 40% 35%
        background-size: cover
        background-repeat: no-repeat
        display: block
        height: 100%
        width: 100%
        padding: 10px

@media (min-width: 768px)
  footer
    #site-map
      div
        padding: 30px  30px 60px 30px
  #home
    .container
      form
        input[name="search"]
          font-size: 18px
          height: 44px
        button[type="submit"]
          padding: 10px 16px
          font-size: 18px
          line-height: 1.3333333

@media (max-width: 767px)
  #home
    .container
      form
        input[name="search"]
          width: 100%
        button[type="submit"]
          margin-top: 12px
    #banner
      height: bannerSmallHeight
      h1
        font-size: 32px
      .banner
        height: bannerSmallHeight
      #banner-search
        top: 20%
        form
          padding: 20px
